/*---COLORS---*/

/*Configure and toggle multiple color schemes */

$scheme:analgous; // analgous, tetrad, triadic;


/*--Scheme--*/
/*Analgous*/
$analgous-color1:;    //pair 1
$analgous-color2:;    //pair 1
$analgous-color3:;    //pair 2
$analgous-color4:;    //pair 2
$analgous-color5:;    //base color
$analgous-text-header:;
$analgous-text-subheader:;
$analgous-text-contentheader:;
$analgous-text-content:;

/*Tetrad*/

$tetrad-color1:; //pair 1
$tetrad-color2:; //pair 1
$tetrad-color3:; //pair 2
$tetrad-color4:; //pair 2
$tetrad-color5:; // Not Used
$tetrad-text-header:;
$tetrad-text-subheader:;
$tetrad-text-contentheader:;
$tetrad-text-content:;

/*Triadic*/
$triadic-color1:;    
$triadic-color2:;    
$triadic-color3:;    
$triadic-color4:; //Typically not used
$triadic-color5:; //Typically not used
$triadic-text-header:;
$triadic-text-subheader:;
$triadic-text-contentheader:;
$triadic-text-content:;





/*Scheme Linking*/
$color1:$$scheme-color1;
$color2:$$scheme-color2;
$color3:$$scheme-color3;
$color4:$$scheme-color4;
$color5:$$scheme-color5;
$text-header:$scheme-text-header:;
$text-subheader:$scheme-text-subheader:;
$text-contentheader:$scheme-text-contentheader:;
$text-content:$scheme-text-content:;

/*--Font Coloring--*/
.font-header{ color:$text-header;}
.font-subheader{ color:$text-subheader;}
.font-contentheader{color:$text-contentheader;}
.font-content {color:$text-content;}
