/*
Syntax error: Invalid CSS after "  opacity: 0": expected ";", was ".$level; "
        on line 111 of ./src/ux/_css3.scss
        from line 2 of ./src/ux/ux.scss

106: }
107: 
108: 
109: 
110: @mixin opacity ($level) { /* use between 01-99 */
111:   opacity: 0.$level; 
112:   filter: alpha(opacity=$level); 
113: }
114: 
115: 
116: * {

Backtrace:
./src/ux/_css3.scss:111
./src/ux/ux.scss:2
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/scss/parser.rb:928:in `expected'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/scss/parser.rb:874:in `expected'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/scss/parser.rb:869:in `tok!'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/scss/parser.rb:430:in `block in declaration_or_ruleset'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/scss/parser.rb:912:in `call'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/scss/parser.rb:912:in `rethrow'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/scss/parser.rb:436:in `declaration_or_ruleset'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/scss/parser.rb:398:in `block_child'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/scss/parser.rb:387:in `block_contents'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/scss/parser.rb:379:in `block'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/scss/parser.rb:152:in `mixin_directive'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/scss/parser.rb:145:in `special_directive'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/scss/parser.rb:124:in `directive'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/scss/parser.rb:397:in `block_child'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/scss/parser.rb:390:in `block_contents'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/scss/parser.rb:58:in `stylesheet'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/scss/parser.rb:27:in `parse'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/engine.rb:326:in `_to_tree'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/engine.rb:258:in `to_tree'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:144:in `visit_import'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:37:in `visit'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:18:in `visit'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:53:in `map'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:53:in `visit_children'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:37:in `block in visit'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:47:in `visit_root'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:37:in `visit'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:18:in `visit'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:7:in `visit'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/tree/root_node.rb:20:in `render'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/engine.rb:299:in `_render'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/engine.rb:246:in `render'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/plugin/compiler.rb:339:in `update_stylesheet'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/plugin/compiler.rb:202:in `block in update_stylesheets'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/plugin/compiler.rb:200:in `each'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/plugin/compiler.rb:200:in `update_stylesheets'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/plugin/compiler.rb:272:in `block (4 levels) in watch'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.15/vendor/fssm/lib/fssm/path.rb:73:in `call'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.15/vendor/fssm/lib/fssm/path.rb:73:in `run_callback'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.15/vendor/fssm/lib/fssm/path.rb:55:in `callback_action'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.15/vendor/fssm/lib/fssm/path.rb:35:in `update'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.15/vendor/fssm/lib/fssm/state/directory.rb:39:in `block in modified'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.15/vendor/fssm/lib/fssm/state/directory.rb:37:in `each'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.15/vendor/fssm/lib/fssm/state/directory.rb:37:in `modified'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.15/vendor/fssm/lib/fssm/state/directory.rb:18:in `refresh'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.15/vendor/fssm/lib/fssm/backends/polling.rb:17:in `block (2 levels) in run'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.15/vendor/fssm/lib/fssm/backends/polling.rb:17:in `each'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.15/vendor/fssm/lib/fssm/backends/polling.rb:17:in `block in run'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.15/vendor/fssm/lib/fssm/backends/polling.rb:15:in `loop'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.15/vendor/fssm/lib/fssm/backends/polling.rb:15:in `run'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.15/vendor/fssm/lib/fssm/monitor.rb:26:in `run'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.15/vendor/fssm/lib/fssm.rb:70:in `monitor'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/plugin/compiler.rb:265:in `watch'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/plugin.rb:107:in `method_missing'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/exec.rb:431:in `watch_or_update'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/exec.rb:302:in `process_result'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/exec.rb:41:in `parse'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.15/lib/sass/exec.rb:21:in `parse!'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.15/bin/sass:8:in `<top (required)>'
C:/Ruby193/bin/sass:19:in `load'
C:/Ruby193/bin/sass:19:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"  opacity: 0\": expected \";\", was \".$level; \"\A         on line 111 of ./src/ux/_css3.scss\A         from line 2 of ./src/ux/ux.scss\A \A 106: }\A 107: \A 108: \A 109: \A 110: @mixin opacity ($level) { /* use between 01-99 */\A 111:   opacity: 0.$level; \A 112:   filter: alpha(opacity=$level); \A 113: }\A 114: \A 115: \A 116: * {"; }
